*{  padding: 0 auto;
    margin: 0 auto;
    /* font-family: 
    font-style: normal; */
}

body{
    width: 100%;
    height: 100%;
    /* background-repeat: no-repeat; */
    background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.Logo {
    width: 244px;
    height: 48px;
    /* background-image: url(/Timer/img/weniv-logo.jpg); */
}
/* class명으로 blind는 지양합니다.*/
.visualHidden {
    display:block;
    overflow:hidden;
    Font-size:1px;
    line-height:0;
    text-indent:-9999px;
}
.box_timer{
    width: 400px;
    height: 360px;
    background: linear-gradient(314.28deg, #304577 0%, #4C65A0 83%);
    border: 1px solid #354971;
    border-radius: 4px;
}